# Cours "Géomatique"
### Louis Maritaud
### louis.maritaud@unilim.fr

## Objectifs pédagogiques
- Comprendre l'intérêt de la programmation au sein des SHS
- Apprendre les bases de Python:
    * Types de données
    * Structures de données
- Se familiariser avec les paradigmes de programmation
- Manipuler des données à l'aide de Pandas

# Rappel de début de séance 2 ! 
## Ce qu'on a vu 
* Les **types** de données :      
    - `str`, string, chaînes de caractères. Représentées entre guillemets simples ' ou doubles ". En cas de besoin de mettre des guillemets dans un str en tant que caractère, il faut l'échapper en mettant un \ devant : `\"` par exemple.        
    **Exemple de str** : `"\"Bonjour !\", dit-il"` , `"42"`     
        
    - `int`, integral, les entiers. Ce sont des chiffres sans virgules, ils n'ont pas de point à l'intérieur.     
    **Exemple de int** : `42`, `4733842`, `0`    
        
    - `float`, float, les décimaux. Les virgules sont représentées par des points.    
    **Exemple de float** : `1.2`, `0.45`    
        
* Les **structures** de données :    
    - **Les listes**, `list`, sont des données ordonnées selon un index qui correspond à leur position dans la liste. On écrit une liste entre crochets `[]`, et on sépare les éléments par des virgules.    
    **Exemple de liste** : `["Ceci", "est", "une", "liste"]`    
        
    - **Les dictionnaires**, `dict`, sont des structures de données organisées autour d'un système de paires clé-valeur. Ils sont représentés entre accolades, chaque paire est séparée par des virgules, et la clé et la valeur sont associées par :    
    **Exemple de dictionnaire** : `{ "Clé_1" : "Valeur 1" , "Clé_2" : "Valeur_2"}`. Les clés des dictionnaires ne peuvent pas être des structures de données. Les valeurs peuvent être n'importe quoi.

## Les boucles et conditions

### Les boucles `for`

Une boucle `for` permet de répéter une action pour chaque élément d'une collection.

**Syntaxe de base :**
```python
for element in collection:
    # Code à répéter (indenté avec 4 espaces ou une tabulation)
    print(element)
```

**Exemple 1 : itérer sur une liste**

In [ ]:
villes = ["Paris", "Lyon", "Marseille"]

for ville in villes:
    print(f"J'ai visité {ville}")

**Exemple 2 : utiliser `range()`**

In [ ]:
# range(5) génère les nombres de 0 à 4
for i in range(5):
    print(f"Itération numéro {i}")

**Cas d'usage SHS : analyser un corpus**

In [ ]:
corpus = ["texte1.txt", "texte2.txt", "texte3.txt"]

for fichier in corpus:
    print(f"Traitement de {fichier}")
    # Ici on pourrait ouvrir et analyser chaque fichier

**Exemple 3 : boucle sur des fichiers dans un dossier**

In [ ]:
from glob import glob

files = glob("DATA/**", recursive=True)
for file in files:
    print(file)

## EXERCICE 4 : Boucle sur des données

Vous avez une liste de dates importantes. Affichez pour chaque date : "L'année X fait partie de ma chronologie"    
**Indice** : Utilisez un f-string et la commande print : 
```python
print(f"....{variable}....")
```

In [ ]:
dates = [1789, 1848, 1871, 1914, 1945]

# Votre code ici

**Solution**

In [ ]:
dates = [1789, 1848, 1871, 1914, 1945]

for date in dates :
    print(f"L'année {date} fait partie de ma chronologie")

### Les conditions `if`, `elif`, `else`

Les conditions permettent d'exécuter du code uniquement si certaines conditions sont remplies.

`if` Teste une première condition. Si la condition est remplie, le code indenté, c'est à dire le **bloc** est exécuté.    
Si la condition de `if` n'est pas remplie et suivie d'un `elif` (else if), alors on teste une nouvelle condition.    
`else` est executé si toutes les conditions préalables ne sont pas remplies.      


Les conditions s'écrivent avec un `:` à la fin :

In [ ]:
age = 25

if age < 18:            # Première condition
    print("Mineur")     # Si if est rempli 
elif age < 65:          # Si if n'est pas rempli, deuxième condition
    print("Adulte")     # Si if n'est pas rempli mais que elif est rempli
else:                   # Si aucune condition n'est remplie
    print("Senior")     # Exécution du code si aucune condition n'est remplie

**Cas d'usage SHS : classifier des documents**

In [ ]:
document = {
    "titre": "Lettre de guerre",
    "date": 1916
}

if document["date"] < 1914:
    periode = "Avant-guerre"
elif document["date"] <= 1918:
    periode = "Première Guerre mondiale"
else:
    periode = "Après-guerre"

print(f"Le document '{document['titre']}' appartient à la période : {periode}")

## EXERCICE 5 : Conditions et classification

Créez un script qui classe des œuvres par siècle

In [ ]:
oeuvres = [
    {"titre": "La Chanson de Roland", "annee": 1100},
    {"titre": "Les Misérables", "annee": 1862},
    {"titre": "L'Étranger", "annee": 1942}
]

# Votre code ici : pour chaque œuvre, affichez son siècle

**Solution**

oeuvres = [
    {"titre": "La Chanson de Roland", "annee": 1100},
    {"titre": "Les Misérables", "annee": 1862},
    {"titre": "L'Étranger", "annee": 1942}
]

# Première possibilité : on print directement dans la condition 
for oeuvre in oeuvres:
    if oeuvre["annee"]<1200:
        print(f"L'oeuvre {oeuvre["titre"]} appartient au XIIè siècle")
    elif oeuvre['annee']<1900:
        print(f"L'oeuvre {oeuvre["titre"]} appartient au XIXè siècle")
    else:
        print(f"L'oeuvre {oeuvre["titre"]} appartient au XXè siècle")

# Deuxième possibilité (celle que vous avez quasi tous fait pendant le cours) : on crée une variable siècle qu'on print dans la boucle for mais en dehors des conditions :
for oeuvre in oeuvres:
    if oeuvre["annee"]<1200:
        siecle="XII"
    elif oeuvre['annee']<1900:
        siecle="XIX"
    else:
        siecle="XX"
    print(f"L'oeuvre {oeuvre["titre"]} appartient au {siecle}è siècle")

### Les instructions `break`, `continue`, `pass`

Ces instructions permettent de modifier le comportement d'une boucle ou d'une condition.

* `break` casse la boucle, le programme en sort indépendament du respect de la condition d'origine.
* `continue` revient au début de la boucle en "sautant" l'itération en cours. L'itération actuelle cesse, et on passe à la suivante.
* `pass` permet de gérer la condition en cours (ìf, elif, else) sans que la boucle ne soit affectée. Elle ne gère que la condition au dessus.

#### Exemple de break

In [ ]:
# On va d'abord créer une boucle while infinie -- NE FAITES PAS CA ! Ca peut cramer votre pc si vous laissez tourner une boucle infinie ! :
i=0

while True:
    i+=1
    print(i)
    if i>3:
        print("Boucle terminée - instruction break")
        break

print("En dehors de la boucle")

#### Exemple de continue

In [ ]:
for i in range (10):
    if i == 5:
        print("l'instruction continue va remonter à la boucle (for) et passer à l'itération suivante")
        continue
    print(i)
print("Boucle terminée - condition remplie")

#### Exemple de pass

In [ ]:
for i in range(10):
    if i == 5:
        print("L'instruction pass n'empêche pas la poursuite de la boucle (for), le chiffre s'imprime")
        pass # pass ici
    print(i)
print("Boucle terminée - condition remplie")

## EXERCICE 6 - itérer jusqu'à une certaine date

Vous avez une liste de dictionnaires décrivant des oeuvres écrites à des dates différentes. Vous voulez `print()` le titre de celles qui sont antérieures à 1850.

**Indice :** Les dictionnaires sont triés par ordre chronologique !    
Utilisez une boucle for, et l'instruction break

In [ ]:
oeuvres = [
    {"titre": "La Chanson de Roland", "annee": 1100},
    {"titre": "Julie ou la Nouvelle Héloïse", "annee":1761},
    {"titre": "Lettres persanes", "annee":1721},
    {"titre": "Les Misérables", "annee": 1862},
    {"titre": "L'Étranger", "annee": 1942}
]

# Votre code ici

**Solution**

In [6]:
oeuvres = [
    {"titre": "La Chanson de Roland", "annee": 1100},
    {"titre": "Julie ou la Nouvelle Héloïse", "annee":1761},
    {"titre": "Lettres persanes", "annee":1721},
    {"titre": "Les Misérables", "annee": 1862},
    {"titre": "L'Étranger", "annee": 1942}
]

#Première solution : le break se fait sur else
for oeuvre in oeuvres:
    if oeuvre["annee"]<1850:
        print(oeuvre['titre'])
    else:
        break

# Deuxième solution : le break se fait sur if :
for oeuvre in oeuvres:
    if oeuvre["annee"]>1850:
        break
    else:
        print(oeuvre['titre'])

La Chanson de Roland
Julie ou la Nouvelle Héloïse
Lettres persanes
La Chanson de Roland
Julie ou la Nouvelle Héloïse
Lettres persanes

## Les fonctions : réutiliser son code

Une fonction est un bloc de code réutilisable. C'est comme créer sa propre commande personnalisée.    
Les **paramètres** sont les variables locales à l'intérieur de la fonction, qui sont définies dans sa programmation.     
Lorsqu'on **appelle** la fonction, on lui passe des **arguments** réels qui correspondent aux paramètres.    
La fonction doit **retourner** le résultat de son éxecution : c'est la commande `return`

**Syntaxe :**
```python
def nom_fonction(parametre1, parametre2):
    # Code de la fonction
    resultat = parametre1 + parametre2
    return resultat
```

**Exemple simple :**

In [ ]:
def saluer(prenom):
    message = f"Bonjour {prenom} !"
    return message

# Utilisation
print(saluer("Marie"))  # Affiche : Bonjour Marie !

**Cas d'usage SHS : calculer un siècle**

In [ ]:
def calculer_siecle(annee):
    """Calcule le siècle d'une année donnée"""
    siecle = (annee - 1) // 100 + 1
    return siecle

# Utilisation
print(calculer_siecle(1789))  # 18
print(calculer_siecle(1850))  # 19
print(calculer_siecle(2024))  # 21

**Fonction plus complexe : analyser une période historique**

In [ ]:
def classifier_periode(annee):
    """Classifie une année dans une période historique française"""
    if annee < 1789:
        return "Ancien Régime"
    elif annee < 1799:
        return "Révolution"
    elif annee < 1815:
        return "Empire"
    elif annee < 1848:
        return "Restauration"
    elif annee < 1852:
        return "Deuxième République"
    elif annee < 1870:
        return "Second Empire"
    elif annee < 1940:
        return "Troisième République"
    else:
        return "Époque contemporaine"

# Test
evenements = [
    ("Prise de la Bastille", 1789),
    ("Sacre de Napoléon", 1804),
    ("Révolution de 1848", 1848)
]

for nom, annee in evenements:
    periode = classifier_periode(annee)
    print(f"{nom} ({annee}) → {periode}")

## EXERCICE 7 : Créer une fonction de comptage

Créez une fonction qui compte le nombre de mots dans une phrase.

**Indice :** utilisez la méthode `.split()` qui découpe une chaîne en liste    
syntaxe : 
```python
liste_à_partir_de_la_variable_str = variable_str.split("élément sur lequel on splite", nombre_maximal_de_splits)
```
Le nombre maximal de split est un argument optionnel. Si on ne met rien, le nombre sera infini.

In [ ]:
def compter_mots(texte):
    # Votre code ici

# Test
phrase = "Les humanités numériques transforment la recherche"
print(compter_mots(phrase))  # Devrait afficher 6

**Solution**

In [8]:
def compter_mots(texte):
    texte_split=texte.split()
    return len(texte_split)

# Test
phrase = "Les humanités numériques transforment la recherche"
print(compter_mots(phrase))  # Devrait afficher 6

6

## Introduction à la Programmation Orientée Objet (POO)

En programmation, on a plusieurs **paradigmes** qui vont définir l'approche informatique en situation d'exploitation. La POO est un des paradigmes qui existent, et Python en accepte plusieurs.     
La POO permet de faire des traitements de données complexes, mais est un peu coûteuse à mettre en place. En POO, on peut considérer que l'on manipule un ensemble d'objets en interaction par exemple. 

### Qu'est-ce qu'un objet ? 

En POO, on crée des classes qui permettent de fabriquer des objets similaires, un peu comme des moules de gâteau.   
On va représenter un objet selon des attributs, qu'il partagera avec tous les objets de sa classe. 

**Sans POO (version compliquée) :**

In [ ]:
livre1_titre = "Les Misérables"
livre1_auteur = "Victor Hugo"
livre1_annee = 1862

livre2_titre = "Madame Bovary"
livre2_auteur = "Gustave Flaubert"
livre2_annee = 1857

**Avec POO (version organisée) :**

In [ ]:
class Livre:
    """Une classe pour représenter un livre"""
    
    def __init__(self, titre, auteur, annee):
        """Initialise un nouveau livre"""
        self._titre = titre # par convention, les variables précédées d'un _ ne doivent pas être modifiées directement
        self._auteur = auteur
        self._annee = annee
    
    def description(self):
        """Renvoie une description du livre"""
        return f"'{self._titre}' de {self._auteur} ({self._annee})"

# Créer des objets livres
livre1 = Livre("Les Misérables", "Victor Hugo", 1862)
livre2 = Livre("Madame Bovary", "Gustave Flaubert", 1857)

# Utiliser les objets
print(livre1.description()) # On lance une fonction à partir d'un objet appartenant à cette classe
print(livre2._titre)  # Accéder à un attribut

**Pourquoi c'est utile ?**
- Organisation : toutes les informations sur un livre sont regroupées
- Réutilisabilité : on crée facilement plusieurs livres avec la même structure
- Méthodes : on peut ajouter des comportements spécifiques

### Exemple SHS : Classe Document historique

In [ ]:
class Document:
    """Représente un document d'archives"""
    
    def __init__(self, cote, titre, date, auteur):
        self._cote = cote
        self._titre = titre
        self._date = date
        self._auteur = auteur
    
    def est_ancien(self):
        """Vérifie si le document a plus de 100 ans"""
        return 2026 - self._date > 100
    
    def fiche(self):
        """Génère une fiche descriptive"""
        ancien = "Oui" if self.est_ancien() else "Non"
        return f"""
        Cote : {self._cote}
        Titre : {self._titre}
        Auteur : {self._auteur}
        Date : {self._date}
        Document ancien (>100 ans) : {ancien}
        """

# Créer des documents
doc1 = Document("AD-001", "Registre paroissial", 1650, "Curé Durand")
doc2 = Document("AD-002", "Procès-verbal conseil", 1995, "Mairie de Limoges")

# Utiliser
print(doc1.fiche())
print(f"Le document {doc2._cote} est ancien: {doc2.est_ancien()}")

### EXERCICE 8 : Créer une classe Personne

Créez une classe "Personne" avec : 
- Attributs : nom, prenom, naissance, profession
- Méthode : `age()` qui calcule l'âge en 2026
- Méthode : `presentation()` qui renvoie une phrase de présentation

In [3]:
# Votre code ici

**Solution**

In [15]:
class Personne:
    """Représente un document d'archives"""
    
    def __init__(self, prenom, nom, naissance, profession):
        self._nom = nom
        self._prenom = prenom
        self._naissance = naissance
        self._profession = profession
    
    def age(self):
        age = 2026 - self._naissance 
        return age
    
    def presentation(self):
        return f"{self._prenom} {self._nom} est né.e en {self._naissance} et travaille en tant que {self._profession}"
    
# test
moi= Personne("Louis", "Maritaud", 1994, "Ingénieur de recherche")
print(moi.age())
print(moi.presentation())

32
Louis Maritaud est né.e en 1994 et travaille en tant que Ingénieur de recherche

## Petit point syntaxe 
*Mais Louis, pourquoi on écrit df.head() pour avoir les premières lignes d'un DataFrame alors qu'on écrit type(df) pour avoir son type ?*    
    
**La différence, c'est la POO** 
    
Si l’action dépend de l’objet → on est sur une méthode, on écrit :      
```objet.methode()```          
**La méthode est une fonction qui est liée à la classe de l'objet sur laquelle on l'applique → Orientation POO**        

Si l’action est générale → on est sur une fonction, on écrit :     
```fonction(objet)```         
**Détachée d'une classe d'objet quelconque**

## Les autres paradigmes de programmation 
----
### La programmation impérative
C'est ce qu'on a fait au début du cours.    
Il s'agit d'une succession d'instructions qui sont effectuées dans l'ordre par l'ordinateur, et qui modifient l'état de la mémoire.    
Il s'agit du paradigme **par défaut** en Python.

**Exemple :**    
```python
total = 0 
for i in range(10):
    total+=1
print(total)
```
→ Les instructions sont suivies dans l'ordre, l'état de la mémoire change au cours de l'éxecution. C'est de la programmation impérative.
#### _Avantages_
* Simple
* Intuitif
* Facile à apprendre
#### _Inconvénients_
* Très difficile à maintenir au bout d'un moment
* Puisque l'état des variables change au fur et à mesure, on peut se retrouver avec des comportements inattendus
#### _Contextes d'utilisation_
* Scripts simples
* Automatisations de tâches
* Tests // prototypes

----


### La programmation procédurale
L'idée de la programmation procédurale est de réduire la duplication de code en créant des **fonctions**.
On définit donc des paramètres et on retourne des valeurs suite à l'exécution des fonctions.
**Exemple :**
```python
def somme(n):
    total = n 
    for i in range(10):
        total+=1
    return total

print(somme(0))
```
→ Dans cet exemple on créé la fonction somme, qui produit le même effet qu'au dessus. La différence est que l'on peut l'utiliser en l'appelant avec un argument différent à chaque fois, sans avoir à retaper tout le code. 
#### _Avantages_
* Lisible → On peut retourner à la fonction si besoin, et le code est beaucoup plus court
* Code réutilisable dans le même environnement → Une fois la fonction écrite, on peut l'utiliser à volonté
* Moins de duplication → Pour un même traitement, on n'écrit qu'une seule fois la fonction
#### _Inconvénients_
* Les données sont souvent globales → Elles sont modifiées au fur et à mesure de l'exécution, on peut quand même avoir des comportements innatendus
* Dans un système complexe, c'est assez peu viable
#### _Contextes d'utilisation_
* Scripts qui effectuent la même tâche sur des données diverses
* Automatisation d'une seule tâche sur plusieurs éléments 
* Programmes structurés

----

### La programmation fonctionnelle
Ce sera assez abstrait ici, Python n'est pas à propremment parler un langage fonctionnel, même s'il s'en inspire.     
L'idée est ici que le programme est une composition de fonctions, mais ne modifie pas l'état de la mémoire. On ne **modifie** pas les données, on en **créé** de nouvelles.    
La fonction est une valeur en tant que telle, et peut s'emboîter dans d'autres fonctions.     
**Exemple :**

In [ ]:
# Je veux chercher les nombres pairs d'une liste
# Exemple en programmation impérative, qui ne marchera pas : 
nombres = [1, 2, 4, 5, 6, 8, 10]
pairs = []

for i, nombre in enumerate(nombres):
    if nombre % 2 == 0:               # Nouvel élément, le modulo "%"
        pairs.append(nombres.pop(i))

print(f"Pairs trouvés : {pairs}")
print(f"Nombres restants : {nombres}")

In [ ]:
#Exemple en programmation fonctionnelle, qui ne modifie pas les états en mémoire mais créé de nouveaux objets :
nombres = [1, 2, 4, 5, 6, 8, 10]
pairs= [nombre for nombre in nombres if nombre % 2==0]

print(f"Pairs trouvés : {pairs}")
print(f"Nombres restants : {nombres}")

#### _Avantages_
* Code plus sûr, sans effet inattendu
* Facile à tester
* plus simple à réaliser à "grande échelle"


#### _Inconvénients_
* Abstraction plus complexe
* Parfois moins intuitif pour certains personnes

#### _Contextes d'utilisation_
* Quand on veut faire une transformation de données qui ne modifie pas l'état des données précédentes 
* Traitements à grande échelles // parrallélisme 


----

### La programmation déclarative
Ici on décrit le résultat attendu, pas les étapes.    
SQL (bases de données relationnelles) est un très bon exemple : 

**Exemple en SQL :**    
On sélectionne toutes les données provenant de "étudiants" quand la valeur associée à "moyenne" est inférieure ou égale à 10 : 
```sql
SELECT * FROM etudiants WHERE moyenne <=10
```

On déclare ce qu'on veut obtenir. Pas comment. 

----

### La programmation orientée événements

Surtout dans le web. Ici on va réagir à des événements externes. Par exemple, quand vous cliquez sur un bouton et que ça produit quelque chose, c'est de la programmation orientée événements.    
Quand vous visitez une page web aussi, mais on va pas rentrer dans le détail.    

**Exemples en Python de bibliothèques pour faire de la POE :**
* tkinter (construction d'interfaces utilisateur)
* Flask / Django (frameworks de construction d'applications/sites web)
----

Pour résumer : 
|Paradigme | Utilisation|
|--|--|
|Impératif	|Scripts simples|
|Procédural|	Programmes structurés|
|POO	| Applications complexes|
|Fonctionnel	| Transformations de données|
|Déclaratif	| Décrire des règles|
|Événementiel	| Interfaces, web|

## Attention aux effets de bord !

### Objets mutables vs immuables

Certains objets peuvent être modifiés sans être réaffectés : ce sont les objets **mutables**.

In [ ]:
# Les listes sont mutables
liste1 = [1, 2, 3]
liste2 = liste1  # liste2 pointe vers le MÊME objet que liste1

liste2.append(4)
print(liste1)  # [1, 2, 3, 4] ← Modifié aussi !
print(liste2)  # [1, 2, 3, 4]

**Solution : faire une copie**

In [ ]:
liste1 = [1, 2, 3]
liste2 = liste1.copy()  # Crée une vraie copie

liste2.append(4)
print(liste1)  # [1, 2, 3] ← Non modifié
print(liste2)  # [1, 2, 3, 4]

## Objets immuables
On trouve dans ces objets :
- Les chaînes de caractères `str`
- Les intégraux `int`
- Les décimaux `float`
- Les **booléens** `bool`
- Les **tuples** `tuple`

In [ ]:
prenom = "Louis"
id_1=id(prenom)
prenom += "ette"
id_2=id(prenom)
if id_1==id_2:
    print("Les IDs sont les mêmes → il s'agit du même élément stocké en mémoire")
if id_1!=id_2:
    print("Les ID sont différents → Il s'agit de deux éléments différents stockés en mémoire !")

## Les tuples
- Les tuples sont des **structures de données**, **immuables**, en Python. 
- Ils s'écrivent entre parenthèse, chaque item les composant étant séparé par une virgule:
```python
tuple_exemple=("ceci","est","un","tuple")
```
**Mais quelle différence avec une liste ?**    
→ Le tuple étant immuable, on ne peut pas l'ordonner, ou modifier ses valeurs sans le réassigner. Utile pour éviter les effets de bord, complexe pour changer les valeurs de données.

In [ ]:
# Définition d'un tuple et d'une liste contenant les mêmes valeurs :
tuple_exemple=(4,5,2,9,7,53,1,6)
liste_exemple=[4,5,2,9,7,53,1,6]

# On essaye de modifier une valeur, la première :
try:
    liste_exemple[0]="modifié"
    print(f"La liste est modifiée : {liste_exemple}")
    tuple_exemple[0]="modifié"
except Exception as e:
    print(f"Eh ben non, on peut pas modifier un tuple :\n{e}")

## Petit intermède try except
Lorsque l'on veut définir un comportement qui dépend d'une erreur, on utilise try et except (comme au dessus).    
Comme leur nom l'indique, try va essayer d'exécuter le bloc de code indenté en dessous.   
S'il y a une erreur ("Exception"), alors le bloc except sera executé.    
On peut ajouter le fait de **capter** l'erreur, c'est à dire la stocker en mémoire     
>except **exception as e**

Auquel cas l'erreur sera stockée sous la variable e    

On peut aller beaucoup plus loin avec les try except, mais ce sera à vous de regarder si ça vous intéresse.

## Les booléens
- Dernier type de données que l'on verra et manipulera ensemble
- Les booléens sont très simples, ils n'acceptent que deux valeurs : ```True``` et ```False```

In [ ]:
# Les tests d'équivalences sur des variables renvoient des booléens :
variable="variable"
variable_2="variable"
variable_3=42

def test_bool(i,j):
    return i==j

print(f"Quand un test d'équivalence est réalisé et concluant, le test retourne le booléen : {test_bool(variable, variable_2)}")
print(f"Quand un test d'équivalence est réalisé et non concluant, le test retourne le booléen : {test_bool(variable,variable_3)}")

In [ ]:
# On peut se servir des booléens pour casser des boucles whiles autrement infinies :
nb=0
while test_bool(variable, variable_2): # Ce n'est pas nécessaire d'écrire ==True ici, la condition est présupposée 
    print("toujours True")
    nb+=1
    if nb>5:
        print(f"nb = {nb}, la boucle while se casse")
        break

## Troisième partie : Pandas pour manipuler des tableaux

### Qu'est-ce que Pandas ?

Pandas est une bibliothèque Python pour manipuler des données tabulaires (comme Excel, mais en plus puissant).

**Installation (si nécessaire) :**
```bash
pip install pandas
```

### Créer un DataFrame

Un DataFrame est comme un tableau Excel en Python.

In [ ]:
import pandas as pd # Par convention, l'intégralité des gens qui font du Python importent pandas comme ça. 
                    # Cela permet d'appeler les fonctions de la bibliothèque sans avoir à taper "pandas" à chaque fois, on peut simplement taper "pd"

# Méthode 1 : à partir d'un dictionnaire
data = {
    "ville": ["Paris", "Lyon", "Marseille"],
    "population": [2165000, 516000, 869000],
    "region": ["Île-de-France", "Auvergne-Rhône-Alpes", "PACA"]
}

df = pd.DataFrame(data)
print(df)

### Cas d'usage SHS : corpus littéraire

In [ ]:
import pandas as pd

corpus = {
    "titre": ["Les Misérables", "Madame Bovary", "Le Père Goriot"],
    "auteur": ["Victor Hugo", "Gustave Flaubert", "Honoré de Balzac"],
    "annee": [1862, 1857, 1835],
    "genre": ["roman", "roman", "roman"]
}

df = pd.DataFrame(corpus)
display(df) # On peut print un df, mais ce ne sera pas stylé. On peut le styler dans un notebook Jupyter avec la commande "display"

In [ ]:
# Display vs Print

print("df affiché à l'aide de print :")
print(df)
print("\n","-"*30)
print("df affiché à l'aide de display dans un notebook Jupyter :")
display(df)

### Manipulations de base

**Afficher les premières lignes :**

In [ ]:
df.head()  # 5 premières lignes par défaut
df.head(2)  # 2 premières lignes

**Informations sur le DataFrame :**

In [ ]:
df.info()  # Types de données, nombre de valeurs
df.shape  # (nombre de lignes, nombre de colonnes)
df.columns  # Noms des colonnes

**Sélectionner une colonne :**

In [ ]:
df["titre"]  # Renvoie une Series (colonne)
df[["titre", "auteur"]]  # Renvoie un DataFrame (plusieurs colonnes)

**Filtrer les données :**

In [ ]:
# Œuvres après 1850
df_recent = df[df["annee"] > 1850]

# Œuvres d'un auteur spécifique
df_hugo = df[df["auteur"] == "Victor Hugo"]

**Ajouter une colonne :**

In [ ]:
# Calculer le siècle
df["siecle"] = (df["annee"] - 1) // 100 + 1

**Trier les données :**

In [ ]:
df_trie = df.sort_values("annee")  # Par année croissante
df_trie_desc = df.sort_values("annee", ascending=False)  # Décroissant

### EXERCICE 9 : Créer et manipuler un DataFrame

1. Créez un DataFrame avec 5 personnages historiques (nom, naissance, mort, nationalité)
2. Ajoutez une colonne "siecle" (siècle de naissance)
3. Filtrez les personnages nés avant 1800
4. Triez par date de naissance

In [ ]:
# Votre code ici

**Solution**

In [17]:
import pandas as pd
dic_origine = {
    "nom": ["Aristote","Carl von Liné","Elisabeth II","Isaac Newton","Christophe Colomb"],
    "naissance":[-384,1707,1952,1642,1451],
    "mort":[ -322, 1778, 2022, 1726, 1506],
    "nationalité":["Grec","Suédois","Anglaise","Anglais","Italien"]
}

df= pd.DataFrame.from_dict(dic_origine)

# Petit point sur les dates : le calcul des siècles n'est pas le même selon qu'il s'agisse de dates antérieures à JC ou postérieures. 
# Du coup, on fait une fonciton :
def siecle(series):
    siecles=[]
    for date in series:
        if date < 0:
            siecles.append((date -1) // 100)
        else:
            siecles.append((date - 1) // 100 + 1)
    return siecles

# Et on appelle cette fonction : 
df["siecle"] = siecle(df["naissance"])

df_filtré = df[df["naissance"]<1800]

df_trie= df.sort_values("naissance")


print("df originel :")
display(df)
print("-"*60, "\ndf filtré :")
display(df_filtré)
print("-"*60, "\ndf trié :")
display(df_trie)

df originel :

                 nom  naissance  mort nationalité  siecle
0           Aristote       -384  -322        Grec      -4
1      Carl von Liné       1707  1778     Suédois      18
2       Elisabeth II       1952  2022    Anglaise      20
3       Isaac Newton       1642  1726     Anglais      17
4  Christophe Colomb       1451  1506     Italien      15

------------------------------------------------------------
df filtré :

                 nom  naissance  mort nationalité  siecle
0           Aristote       -384  -322        Grec      -4
1      Carl von Liné       1707  1778     Suédois      18
3       Isaac Newton       1642  1726     Anglais      17
4  Christophe Colomb       1451  1506     Italien      15

------------------------------------------------------------
df trié :

                 nom  naissance  mort nationalité  siecle
0           Aristote       -384  -322        Grec      -4
4  Christophe Colomb       1451  1506     Italien      15
3       Isaac Newton       1642  1726     Anglais      17
1      Carl von Liné       1707  1778     Suédois      18
2       Elisabeth II       1952  2022    Anglaise      20

### Charger des données depuis un fichier

**CSV (le plus courant) :**

In [ ]:
df = pd.read_csv("mes_donnees.csv")

# Avec des options
df = pd.read_csv(
    "donnees.csv",
    sep=";",  # Séparateur (parfois ; au lieu de , => quand votre csv vient d'Excel c'est un point-virgule)
    encoding="utf-8"  # Encodage /!\ IMPORTANT
)

**Excel :**

In [ ]:
df = pd.read_excel("donnees.xlsx", sheet_name="Feuille1")

**Sauvegarder :**    
Petit disclaimer : Python **nécessite** de spécifier l'encodage en utf-8 pour les caractère spéciaux français. Si vous ne le faites pas, vous aurez beaucoup de bruit dans vos textes !

In [ ]:
df.to_csv("resultat.csv", encoding="utf-8", index=False)  # Sans l'index, sinon ça vous rajoute une colonne
df.to_excel("resultat.xlsx", encoding="utf-8", index=False)

### Cas d'usage complet : analyse d'un recensement fictif

In [ ]:
import pandas as pd

# Données fictives d'un recensement
recensement = {
    "nom": ["Dupont", "Martin", "Bernard", "Dubois", "Laurent"],
    "age": [45, 32, 67, 28, 51],
    "profession": ["agriculteur", "commerçant", "retraité", "artisan", "instituteur"],
    "ville": ["Limoges", "Brive", "Limoges", "Tulle", "Limoges"]
}

df = pd.DataFrame(recensement)

# Statistiques de base
print("Âge moyen:", df["age"].mean()) # .mean() → Renvoie la moyenne
print("Âge médian:", df["age"].median()) # .median → Renvoie la médiane
print("Âge minimum:", df["age"].min()) # .min → Renvoie la valeur minimale
print("Âge maximum:", df["age"].max()) # .max → Renvoie la valeur maximale

# Compter les professions
print("\nRépartition des professions:")
print(df["profession"].value_counts()) # .value_counts → pour chaque élément distinct, renvoie le nombre d'occurrences

# Compter par ville
print("\nPersonnes par ville:")
print(df["ville"].value_counts())

# Filtrer : personnes de Limoges
df_limoges = df[df["ville"] == "Limoges"] 
print("\nHabitants de Limoges:")
print(df_limoges)

# Grouper par ville et calculer l'âge moyen
age_par_ville = df.groupby("ville")["age"].mean()
print("\nÂge moyen par ville:")
print(age_par_ville)

### EXERCICE 10 : Analyse d'un corpus

Créez un DataFrame représentant un corpus de 6 textes avec :
- titre, auteur, année, nombre de pages

Puis :
1. Calculez la moyenne des pages
2. Trouvez le texte le plus ancien
3. Comptez le nombre de textes par auteur
4. Filtrez les textes de plus de 300 pages

In [ ]:
# Votre code ici

**Solution**

In [25]:
corpus = {
    "titre" : ["Une brève histoire de la géographie","La sédimentation dans les lacs de barrage à Java, Indonésie","À quoi sert la géographie ?","Espaces tropicaux et risques","Voyage en géographie : une géographie pour le monde, une géographie pour tout le monde","Les nouveaux visages du monde"],
    "auteur" : ["Jean-Jacques Bavoux","Mathias Boun Heng","Perrine Michon","Gilbert David","Antoine Bailly","Jean-Jacques Bavoux"],
    "annee" : [2023, 2013, 2021, 2004, 1999 ,2024],
    "nb_pages": [448, 299 , 440, 445 ,104 ,400]
}


df = pd.DataFrame.from_dict(corpus)
display(df)

print("Texte le plus ancien :", df["annee"].min())

df["auteur"].value_counts()

df_filtre = df[df["nb_pages"]>300]
display(df_filtre)

,titre,auteur,annee,nb_pages
0,Une brève histoire de la géographie,Jean-Jacques Bavoux,2023,448
1,La sédimentation dans les lacs de barrage à Ja...,Mathias Boun Heng,2013,299
2,À quoi sert la géographie ?,Perrine Michon,2021,440
3,Espaces tropicaux et risques,Gilbert David,2004,445
4,Voyage en géographie : une géographie pour le ...,Antoine Bailly,1999,104
5,Les nouveaux visages du monde,Jean-Jacques Bavoux,2024,400

Texte le plus ancien : 1999

                                 titre               auteur  annee  nb_pages
0  Une brève histoire de la géographie  Jean-Jacques Bavoux   2023       448
2          À quoi sert la géographie ?       Perrine Michon   2021       440
3         Espaces tropicaux et risques        Gilbert David   2004       445
5        Les nouveaux visages du monde  Jean-Jacques Bavoux   2024       400

In [33]:
# Petit bonus : chercher une ligne complète à partir d'une valeur
# On reprend l'exemple de l'ouvrage le plus ancien. 
print("Texte le plus ancien :", df["annee"].min()) # Renvoie seulement l'année

# Pour trouver toute la ligne, on peut utiliser loc : 
df.loc[df["annee"]==df["annee"].min()]

Texte le plus ancien : 1999

,titre,auteur,annee,nb_pages
4,Voyage en géographie : une géographie pour le ...,Antoine Bailly,1999,104

## Résumé de ce qu'on a vu 
# Les boucles 
- **for** permet d'itérer sur un nombre défini d'éléments. On peut itérer sur les éléments d'une liste, les caractères d'une chaîne de caractères, etc. Le code **identé** sous `for` sera éxecuté pour chaque itération.
**Syntaxe**
```python
for element in objet_sur_lequel_on_itère :
    #code à reproduire pour chaque élément
# Une fois que toutes les itérations sont faites
```

# Les conditions
- **if** permet de définir une condition **initiale**. Si la condition est remplie, le bloc de code identé est exécuté. Sinon, on passe à la suite.    
**Syntaxe**
```python
if condition : 
    # code qui s'exécute si la condition est remplie
# En dehors de la condition, le code s'exécutera quoi qu'il advienne
```
- **elif** permet de poser une n-ème condition, si celles qui précèdent ne sont pas remplies. elif = else if. elif doit se situer après un if (obligatoire) et potentiellement après d'autres elif. On peut mettre autant d'elif que l'on souhaite.     
**Syntaxe**
```python
if condition_1 :
    # Code à exécuter si la condition est remplie
elif condition_2 :
    # Code à exécuter si condition_1 n'est pas remplie, mais condition_2 est remplie
# En dehors des conditions, le code s'exécutera quoi qu'il advienne
```
- **else** est un **fallback**. Dans le cas où aucune condition n'est remplie dans les if/elif au dessus, le code s'exécutera.
**Syntaxe**
```python
if condition_1 :
    # Code à exécuter si la condition est remplie
elif condition_2 :
    # Code à exécuter si condition_1 n'est pas remplie, mais condition_2 est remplie
else :
    # Code à exécuter si condition_1 et condition_2 ne sont pas remplies
# En dehors des conditions, le code s'exécutera quoi qu'il advienne 
```

# Les fonctions
On peut réutiliser des morceaux de code sans avoir à les réécrire. On va alors définir une **fonction**.    
Les **paramètres** sont les variables locales à l'intérieur de la fonction, qui sont définies dans sa programmation.     
Lorsqu'on **appelle** la fonction, on lui passe des **arguments** réels qui correspondent aux paramètres.    
La fonction doit **retourner** le résultat de son éxecution : c'est la commande `return`

**Syntaxe :**
```python
def nom_fonction(parametre1, parametre2):
    # Code de la fonction
    resultat = parametre1 + parametre2
    return resultat
```

# Deux nouveaux types de données
## Les tuples
Les tuples sont comme des listes, on y trouve un nombre défini d'éléments ordonnés. Seulement, les tuples sont immuables : on ne peut pas les modifier directement. Pour modifier un tuple, il faut réaffecter une variable. Ils s'écrivent entre parenthèse, chaque item les composant étant séparé par une virgule:
```python
tuple_exemple=("ceci","est","un","tuple")
```
Les **coordonnées géographiques** sont la plupart du temps des tuples en Python.
## Les booléns
Les booléens sont très simples, ils n'acceptent que deux valeurs : ```True``` et ```False```. Quand vous testez une condition, c'est un booléen qui est renvoyé.

# Pandas et les DataFrame
La manipulation de tableaux en Python se fait à 98% sous la bibliothèque Pandas.     
Pour utiliser une bibliothèque, il faut **l'importer**, une seule fois dans son code :
```python
import pandas
```

Pour éviter de taper le nom complet de la bibliothèque, on peut lui donner un raccourci. Par convention, on utilise "pd" pour pandas :
```python
import pandas as pd
```

## Quelques commandes très utiles
### Créer un DataFrame à partir d'un dictionnaire :
  ```python
  df = pd.DataFrame(dictionnaire)
  ```
  ----
### Voir les x premières lignes d'un DataFrame appelé df :
  ```python
  df.head(x)
  ```
  ----
### Sélectionner une colonne "colonne" dans le DataFrame df :
  ```python
  df["colonne"]
  ```
  ----
### Filtrer les lignes selon une condition portant sur des valeurs de la colonne "colonne" dans le DataFrame df :
  ```python
  df[df["colonne"] condition]
  # Par exemple : 
  df_recent = df[df["annee"] > 1850] # filtre les données dont la colonne "année" a un chiffre supérieur à 1850
  ```
  ----
### Ajouter une colonne :
  ```python
  df["nouvelle colonne"] = liste_qui_comprend_le_même_nombre_d_items_que_de_lignes_dans_le_df
  ```
  ----
### Trier des données sur une colonne "colonne":
  ```python
    # tri alphabétique ou croissant :
  df_trié = df.sort_values("colonne")
    # tri inversé ;
    df_trié= df.sort_values("colonne", ascending=False)
```
  ----
### Charger un fichier
   ```python
   #fichier csv :
   df = pd.read_csv(
       "donnees.csv",
       sep=";",  # Séparateur (parfois ; au lieu de , => quand votre csv vient d'Excel c'est un point-virgule)
       encoding="utf-8"  # Encodage /!\ IMPORTANT
   )
   #fichier Excel :
   df = pd.read_excel("donnees.xlsx", sheet_name="Feuille1")
   ```     

   ----   
### Enregistrer un fichier :
  ```python
  # csv : 
  df.to_csv("resultat.csv", encoding="utf-8", index=False)  # Sans l'index, sinon ça vous rajoute une colonne
  # Excel :
    df.to_excel("resultat.xlsx", encoding="utf-8", index=False)
```